*.iml
.gradle/
build/
.idea/workspace.xml
.idea/shelf/
.idea/tasks.xml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
iosApp/Pods/
iosApp/*.xcworkspace
iosApp/DerivedData/
*.xcuserdata
*.DS_Store
implementationTasks.md
testTasks.md